.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.button-group {
  display: block;
  margin: auto;
  text-align: right;
}

.text-column {
  width: 300px;
  word-wrap: break-word;
  word-break: break-all;
}

.action-column {
  width: 150px;
  word-wrap: break-word;
  word-break: break-all;

}

.table-header {
  text-align: center;
}

form {
  text-align: center;
  width: 100%;
}

input {
  width: 100%;
}

table {
  width: 450px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-wrapper {
  display: table;
  margin: auto;
  margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}